# **Class :** A class is a user-defined ***blueprint*** or ***prototype*** from which ***objects*** are created.


<center> <img src = "https://www.learnbyexample.org/wp-content/uploads/python/Class-Object-Illustration.png"/></center>

# 1. How can we create a class ?

## Template :

Define Class:
```python
class ClassName:
  pass
```
Create Object:

```python
objName = ClassName()
```

In [1]:
class Car:
  pass

In [2]:
honda = Car()

# **Properties of Class:**


*   **Atrributes** -> Variables
*   **Behaviour**  -> Methods or Member Functions

These 2 things describes a particular class

<left> <img src = "https://arjunsalyan.com/images/posts/oops-methods-attr.png"/></left>

In [3]:
honda.name = "City"
honda.mileage = 19.4
honda.ctype = "Sedan"

# Is this the correct way to add attributes ?
## - No, because we want these properties and functionalities to be present inside the class.

## - So that when an object is created, they already have these.   

# So what we need for that ?
# **Constructor**

*  __init__() : this is called **constructor** function. when an object is created then this function is called.

In [4]:
class Car:
  def __init__(self):
    print("Default Constructor is Called")

In [5]:
honda = Car()

Default Constructor is Called

## ***self***
*   self stores the **address of the current object**

In [6]:
class Car:
  def __init__(self):
    print(self)

In [7]:
honda = Car()

<__main__.Car object at 0x7fa16bb8b6d0>

In [8]:
print(honda)

<__main__.Car object at 0x7fa16bb8b6d0>

## ***__init__()***

* if we do not create our own constructor, there is a **Default Constructor** which will be called. It does not take any argument.
* we create our own constructor(**User Defined**) having multiple arguments. It is called ***Parameterized Constructor***
* If we create our own constructor then Default constructor got replaced.

In [9]:
class Car:
  def __init__(self,brand,name,mile,types):
    self.brand = brand
    self.model = name
    self.mile = mile
    self.types = types
    
  def showCar(self):
    print("Brand = ",self.brand)
    print("Model = ",self.model)
    print("Mileage = ",self.mile)
    print("Type = ",self.types)

In [10]:
honda = Car()

TypeError: __init__() missing 4 required positional arguments: 'brand', 'name', 'mile', and 'types'

In [11]:
honda = Car('Honda','City',18,'Sedan')

In [12]:
honda.showCar()

Brand =  Honda
Model =  City
Mileage =  18
Type =  Sedan

# **Accessor and Mutator**


## Methods that are used to get and set the attribute values

*   **Accessor** -> Getter
*   **Mutator**  -> Setter

In [13]:
class Car:
    
  brand = None
  model = None
  mile = None
  types = None

  def __init__(self):
    print("Constructor Called")

  def setBrand(self,brand):
    self.brand = brand
  
  def setModel(self,model):
    self.model = model
  
  def setMile(self,mile):
    self.mile = mile

  def setType(self,types):
    self.types = types

  def getBrand(self):
    print("Brand = ",self.brand)
  
  def getModel(self):
    print("Model = ",self.model)
  
  def getMile(self):
    print("Mileage = ",self.mile)

  def getType(self):
    print("Type = ",self.types)

In [14]:
honda = Car()

Constructor Called

In [15]:
honda.getModel()

Model =  None

In [16]:
honda.setModel('Jazz')

In [17]:
honda.getModel()

Model =  Jazz

# **Default Parameters and Assert**

## Default Parameters

In [18]:
class Car:
  def __init__(self,brand,name,mile,types,cyl=4):
    self.brand = brand
    self.model = name
    self.mile = mile
    self.types = types
    self.cyl = cyl
    
  def showCar(self):
    print("Brand = ",self.brand)
    print("Model = ",self.model)
    print("Mileage = ",self.mile)
    print("Type = ",self.types)
    print("Cylinder = ",self.cyl)
  
  def fuelCost(self):
    print("Fuel Cost = ",self.mile*100)

In [19]:
honda = Car('Honda',"City",18,'Sedan')

In [20]:
honda.showCar()

Brand =  Honda
Model =  City
Mileage =  18
Type =  Sedan
Cylinder =  4

In [21]:
abc = Car('Honda','City',15.62,'Sedan',3)

In [22]:
abc.fuelCost()

Fuel Cost =  1562.0

In [23]:
abc.showCar()

Brand =  Honda
Model =  City
Mileage =  15.62
Type =  Sedan
Cylinder =  3

## Assert

In [24]:
class Car:
  def __init__(self,brand,name,mile,types,cyl):
    
    assert mile > 10, f"Mileage must be more than 10 kmpl" 
    assert cyl > 2 , f"No.of Cylinder must be greater than"

    self.brand = brand
    self.model = name
    self.mile = mile
    self.types = types
    self.cyl = cyl
    
  def showCar(self):
    print("Brand = ",self.brand)
    print("Model = ",self.model)
    print("Mileage = ",self.mile)
    print("Type = ",self.types)
    print("Cylinder = ",self.cyl)
  
  def fuelCost(self):
    print("Fuel Cost = ",self.mile*100)

In [25]:
abc = Car('Honda','City',9,'Sedan',2)

AssertionError: Mileage must be more than 10 kmpl

# **Access Modifiers**

<left> <img src = "https://scaler.com/topics/images/access-specifiers-in-python-encapsulation-1024x590.webp"/></left>

## **Template**

### Public

```python

class ClassName:
  name = None  
  roll = None
  sec = None

```

or

```python

class ClassName:
  def __init__(self,name,roll,sec):
    self.name = None
    self.roll = None
    self.sec = None

```

In [ ]:
class Car:
  def __init__(self,brand,name,mile,types):
    self.brand = brand
    self.model = name
    self.mile = mile
    self.types = types
    
  def showCar(self):
    print("Brand = ",self.brand)
    print("Model = ",self.model)
    print("Mileage = ",self.mile)
    print("Type = ",self.types)

In [ ]:
honda = Car('Honda','City',18,'Sedan')

In [ ]:
honda.showCar()

Brand =  Honda
Model =  City
Mileage =  18
Type =  Sedan

In [ ]:
honda.model = 'Jazz'

In [ ]:
honda.showCar()

Brand =  Honda
Model =  Jazz
Mileage =  18
Type =  Sedan

### Protected

To make an instance variable or method **Protected**, the convention is to prefix the name with a ***single underscore _***

```python

class ClassName:
  _name = None  
  _roll = None
  _sec = None

```

or

```python

class ClassName:
  def __init__(self,name,roll,sec):
    self._name = None
    self._roll = None
    self._sec = None

```

In [ ]:
class Car:
  def __init__(self,brand,name,mile,types):
    self._brand = brand
    self._model = name
    self._mile = mile
    self._types = types
    
  def showCar(self):
    print("Brand = ",self._brand)
    print("Model = ",self._model)
    print("Mileage = ",self._mile)
    print("Type = ",self._types)

In [ ]:
honda = Car('Honda','City',18,'Sedan')

In [ ]:
honda.showCar()

Brand =  Honda
Model =  City
Mileage =  18
Type =  Sedan

In [ ]:
honda._mile

18

In [ ]:
honda._mile = 20

***What did happen here ?***

**Ans** - protected: can be accessed but ***not advised***

In [ ]:
honda.showCar()

Brand =  Honda
Model =  City
Mileage =  20
Type =  Sedan

### Private

To make an instance variable or method **Private**, the convention is to prefix the name with a ***double underscore __***

```python
class ClassName:
  __name = None  
  __roll = None
  __sec = None

```

or

```python
class ClassName:
  def __init__(self,name,roll,sec):
    self.__name = None
    self.__roll = None
    self.__sec = None
```

In [ ]:
class Car:
  def __init__(self,brand,name,mile,types):
    self.__brand = brand
    self.__model = name
    self.__mile = mile
    self.__types = types
    
  def showCar(self):
    print("Brand = ",self.__brand)
    print("Model = ",self.__model)
    print("Mileage = ",self.__mile)
    print("Type = ",self.__types)

In [ ]:
honda = Car('Honda','City',18,'Sedan')

In [ ]:
honda.showCar()

Brand =  Honda
Model =  City
Mileage =  18
Type =  Sedan

In [ ]:
honda.__model

AttributeError: ignored